* {
  width: auto;
  background-color: #ffffff;
}

.headerTag {
  color: blue;
}

.navBar {
  border: 1px solid transparent;
  width: 100px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: border-color 0.3s ease;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.navBar:hover {
  border-color: blue;
  background-color: blue;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ffffff;
  padding: 10px;
  grid-gap: 20px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 4px;
  font-size: medium;
  box-shadow: 1px 1px 1px 1px black;
  margin-top: -10px;

}

.grid-item:hover {
  background-color: #f3f7ff;
  cursor: pointer;
  color: blue;
  font-size: medium;
  box-shadow: 1px 1px 1px 1px blue;
}
